<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/aop
	                    http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
	                     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd" xmlns:tx="http://www.springframework.org/schema/tx">


	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="url"
			value="jdbc:mysql://localhost:3306/staffdb?useUnicode=true">
		</property>
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="username" value="root"></property>
		<property name="password" value="123456"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/model/Admin.hbm.xml</value>
				<value>com/model/Department.hbm.xml</value>
				<value>com/model/Staff.hbm.xml</value></list>
		</property></bean>
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="get*" read-only="true"/>
			<tx:method name="*" isolation="DEFAULT" propagation="REQUIRED" timeout="5"/>
		</tx:attributes>
	</tx:advice>
	<aop:config>
		<aop:pointcut expression="bean(adminDAO)" id="myPointcut"/>
		<aop:advisor advice-ref="txAdvice" pointcut-ref="myPointcut"/>
	</aop:config>
	<tx:annotation-driven transaction-manager="transactionManager" />
	<bean id="adminDAO" class="com.model.AdminDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
</bean>

<bean id="adminService" class="com.service.impl.AdminServiceImpl">
		<property name="adminDAO">
			<ref bean="adminDAO"/>
		</property>
</bean>
	<bean id="userLogin" class="com.action.userLogin">
		<property name="adminService">
			<ref bean="adminService"/>
		</property>
	</bean>
	<bean id="departmentDAO" class="com.model.DepartmentDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="departmentService" class="com.service.impl.DepartmentServiceImpl">
		<property name="departmentDAO">
			<ref bean="departmentDAO"/>
		</property>
</bean>
	<bean id="staffDAO" class="com.model.StaffDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="staffService" class="com.service.impl.StaffServiceImpl">
		<property name="staffDAO">
			<ref bean="staffDAO"/>
		</property>
</bean>
<bean id="addDepartment" class="com.action.addDepartment">
		<property name="departmentService">
			<ref bean="departmentService"/>
		</property>
		<property name="adminService">
			<ref bean="adminService"/>
		</property>
	</bean>
	</beans>